.App {
  text-align: center;
}

.logo img {
  width: 100px;
  height: 60px;
}
/* 
img {
  width: 150px;
  object-fit: contains;
} */

.signup-form {
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  height: 300px;
  margin: 0 auto;
}

.signup input {
  width: 50%;
}
